@page
@model Case_2___Zealand_Lokale_Booking.Pages.BookingPages.BookingModel
@{
}

@* Weslyn har lavet booking service *@

<h1 class="p-3">Resever din Booking: </h1>


<section class="wrapper">
    <article class="boxes">
        <form method="post">

            <article class="box">

                <div class="selectBox">
                    <label for="@Model.DagListe">Dag</label>
                    @*asp-for = hvor skal dataen sendes hen? asp-item = Hvad blvier der vist på pagen?*@
                    <select asp-for="@Model.Book.DagId" asp-items="@Model.DagListe" class="form-control"></select>
                    <span asp-validation-for="@Model.Book.DagId" class="text-danger"></span>
                </div>

                <div class="selectBox">
                    <label for="@Model.TidListe">Tid</label>
                    @*asp-for = hvor skal dataen sendes hen? asp-item = Hvad blvier der vist på pagen?*@
                    <select asp-for="@Model.Book.TidId" asp-items="@Model.TidListe" class="form-control"></select>
                    <span asp-validation-for="@Model.Book.DagId" class="text-danger"></span>
                </div>

            </article>



            <article class="box">

                <div class="selectBox">
                    <label for="@Model.LokationsListe">Zealand Afdeling</label>
                    @*asp-for = hvor skal dataen sendes hen? asp-item = Hvad blvier der vist på pagen?*@
                    <select asp-for="@Model.Book.LokationId" asp-items="@Model.LokationsListe" class="form-control"></select>
                    <span asp-validation-for="@Model.Book.LokationId" class="text-danger"></span>
                </div>

                <div class="selectBox">
                    <label for="@Model.LokaleListe">Lokale</label>
                    @*asp-for = hvor skal dataen sendes hen? asp-item = Hvad blvier der vist på pagen?*@
                    <select for="@Model.Book.LokaleId" class="form-control">
                        @foreach (var Lokale in Model.Lokaler){
                            if (Model.IsBooked(Lokale.LokaleId)) {
                                <option class="form-control booked">@Lokale.LokaleNavnOgType</option>                                        
                            }
                            else {
                                <option class="form-control">@Lokale.LokaleNavnOgType</option>

                            }
                            
                        }
                    </select>
                <span asp-validation-for="@Model.Book.LokaleId" class="text-danger"></span>
            </div>

        </article>

        <div>
            @Model.ErrorMessage
        </div>

            <button class="submitBtn" type="submit" asp-page-handler="Submit">
                Submit
            </button>



        </form>
       

    </article>


</section>



