@page
@model Case_2___Zealand_Lokale_Booking.Pages.BookingPages.SeeBookingsModel
@{
}

@* Weslyn har lavet se bookinger *@



<section class="ResWrapper">

    <h1>Dine Bookings</h1>

    <article class="ResBoxes">
        @foreach (var elm in Model.Book){

            <form class="ResBox ResBoxDetails" method="post">
                <h2 class="">@elm.Lokale.LokaleNavn</h2>
                <p>@elm.Lokale.LokaleType</p>
                <h3>@elm.Lokation.ByNavn</h3>
                <div>
                    <p>@elm.Tid.ValgteTid</p>
                    <p>@elm.Dag.ValgteDag</p>
                </div>
                <button class="DeleteBtn" type="submit" asp-page-handler="Submit" asp-route-id="@elm.BookingId">
                    Delete
                </button>
            </form>

        }

    </article>


</section>